[worldserver]

###
# The amount of days that a referral will stay active
# A value of 0 means it will never expire
RecruitAFriend.Duration = 90
###

###
# The amount of days since the account was created where it can still be recruited. Accounts older than this amount of days will not be able to be recruited
# A value of 0 will allow any account to be recruited
RecruitAFriend.AccountAge = 7
###

###
# This defines the amount of days since the referral that is required before the accounts receive special rewards
# All rewards are disabled if this is set to 0
RecruitAFriend.Rewards.Days = 30
###

###
# This setting gives the players the Swift Zhevra item
RecruitAFriend.Rewards.SwiftZhevra = 1
###

###
# This setting gives the players the X-53 Touring Rocket item
RecruitAFriend.Rewards.TouringRocket = 1
###
