[worldserver]

# The amount of days that a referral will stay active
# A value of 0 will cause it to never expire
RecruitAFriend.Duration = 90

# Allow renewing the referral after it has expired
RecruitAFriend.Renewable = 0
